html, body{
  height: 100%;
}
#___gatsby{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#___gatsby > div{
  width: 100%;
  height: 100%;
}
#___gatsby > div > div {
  width: 100%;
  height: 100%;
}

